<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center">

    <br>
    <tr>
        <th><label>Content</label></th>
        <th><textarea rows="4" cols="50" contenteditable="true">{{all_blogs.content}}</textarea></th>
    </tr>
    <tr>
        <th><button type="submit"><img src="/images/index.jpeg"/> Like </button></th>

        <th><button type="submit">Comment</button> </th>
        <th><button type="submit">Add Tags</button> </th>
    </tr>
    <br>
    <tr>
        <th colspan="2"><button type="submit">Submit</button> </th>
    </tr>
    <br>
    <br>

</table>
</body>
</html>