<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  function check(){
      var p1=document.getElementById('password').value;
      var p2=document.getElementById('retype_password').value;
      if(p1==p2)
      {
          $("span").css("color", "green");
          document.getElementById('message').innerHTML =" passwords match";
          document.getElementById('buttonid').disabled = false;
      }
      else
      {
           $("span").css("color", "red");
           document.getElementById('message').innerHTML ="passwords doesn't match";
           document.getElementById('buttonid').disabled = true;
      }
     }
</script>
</head>
<body>
<form action="password_change"method="post">
  {% csrf_token %}
  {{ form.as_p }}


<table align="center">
    <tr>
      <th><label>Password</label></th>
      <th><input type="password" name="password" id="password"></th>
    </tr>
    <tr>
      <th><label>Re-type Password</label></th>
      <th><input type="password" name="retypepassword" id="retype_password" onkeyup="check()"></th>
      <th><label id="message"></label></th>
    </tr>
    <tr>
      <th colspan="2"><button type="submit">Submit</button></th>
    </tr>
    </table>
</form>
</body>
</html>